body {
    font-family: 'Montserrat', sans-serif;
    background-color: #cead6b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #ab53a7;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
    border: 2px solid #007bff; /* Border for the box */
}

h1 {
    color: #333;
    font-size: 32px;
    margin-bottom: 20px;
}

p {
    color: #fcf7f7;
    font-size: 18px;
    margin-bottom: 20px;
}

input {
    padding: 12px;
    margin: 10px 0;
    width: 70%; /* Adjusted width for better spacing */
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

button {
    padding: 12px 20px;
    background-color: #00ba06;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #00b32a;
}

#message {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

#restartButton {
    margin-top: 20px;
    display: none;
}